
@import url('@/css/welcome.module.css');
@import url('@/css/root.module.css');

.Project-main-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);  
    display: flex;
}

.sideNavBar{
    width: var(--sideNavBarWidth);
    height: 100%;
    background-color: var(--black);
}

.page-main-container{
    width: calc(100% - var(--sideNavBarWidth));
    height: 100%;

}

.sideNavBar-Button{
    width: 40px;
    height: 40px;
}

.Project-main-container {
  display: flex;
  height: 100vh;
}

.sideNavBar-container {
  background-color: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.sideNavBar-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideNavBar-body li {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
}

.sideNavBar-body li a {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.sideNavBar-body li:hover {
  background-color: var(--white);
}

.sideNavBar-body li:hover a {
  color: var(--black);
}



.page-main-container {
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
  overflow-y: auto;
}
