@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --red:red;
    --green:green;
    --white:white;
    --black:black;
    --poppinsFont: 'poppins'
}

/* Landing page css */
/* =============================================== */
.welcome-navbar-container{
    width: 100vw;
    height: 100px;
    background-color: var(--white);
    display: flex;
}

.welcome-navbar-front-div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 60%;
    background-color: var(--white);
    height: 100%;
}

.welcome-navbar-front-div div{
    width: 15%;
    margin-left: 50px;
    color: var(--black);
    font-size: 160%;
}

.welcome-navbar-right-div{
    display: flex;
    justify-content: right;
    /* align-items: flex-end; */
    margin-right: 30px;
    width: 40%;
    background-color: var(--white);
    height: 100%;
    font-size: 120%;
    font-style: var(--poppinsFont);
    color: var(--black);
    gap: 10px;
}

.welcome-navbar-right-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    aspect-ratio: 1;
}

.welcome-navbar-right-div .welcome-navbar-right-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: 100%;
    align-items: flex-start;
}

.welcome-navbar-right-div h1{
    font-size: 90%;
    color: var(--black);
}

.welcome-navbar-right-div p{
    font-size: 70%;
    color: var(--black);
}

.welcome-body-container{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: var(--white);
}

/* Landing page css End */
/* =============================================== */

/* welcome page css */
/* =============================================== */
.welcome-children-main-container{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
}

.welcome-main-left-div{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-main-image{
    width: 450px;
    aspect-ratio: 1;
    /* object-fit: cover; */
    
}

.welcome-main-right-div{
    width: calc(100% - 35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}


/* .welcome-main-right-text-h1{
    
} */

.welcome-main-right-text-h1 h1{
    font-family: 'Pangolin', cursive;
    font-size: 400%;
}

.welcome-main-right-text-h1 span{
    color: #F7931E;

}

.welcome-main-right-text-h1 p{
    font-family: 'poppins', cursive;
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcome-main-buttons{
    width: 80%;
    height: 100px;
    display: flex;
    gap: 20px;
    font-size: medium;
}

/* welcome page css End */
/* =============================================== */